body{
    background-color: azure;
}

.std-profile{
    display:flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 25px 30px;
    background-color: #fff;
    max-width: 700px;
    width: 100%;
}