<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>OnlineExaminationManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.LoginAndLogout.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.LoginAndLogout.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>user</display-name>
    <servlet-name>user</servlet-name>
    <servlet-class>com.user.model.user</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.user.servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserService</display-name>
    <servlet-name>UserService</servlet-name>
    <servlet-class>com.user.service.UserService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserService</servlet-name>
    <url-pattern>/UserService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServiceImpl</display-name>
    <servlet-name>UserServiceImpl</servlet-name>
    <servlet-class>com.user.service.UserServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServiceImpl</servlet-name>
    <url-pattern>/UserServiceImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserServlet</display-name>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>com.user.servlet.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/EditUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.user.servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.user.servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserConfirmServlet</display-name>
    <servlet-name>DeleteUserConfirmServlet</servlet-name>
    <servlet-class>com.user.servlet.DeleteUserConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserConfirmServlet</servlet-name>
    <url-pattern>/DeleteUserConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUserServlet</display-name>
    <servlet-name>ViewUserServlet</servlet-name>
    <servlet-class>com.user.servlet.ViewUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUserServlet</servlet-name>
    <url-pattern>/ViewUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DAO</display-name>
    <servlet-name>DAO</servlet-name>
    <servlet-class>com.exam.model.DAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DAO</servlet-name>
    <url-pattern>/DAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calcanswer</display-name>
    <servlet-name>calcanswer</servlet-name>
    <servlet-class>com.exam.servlet.calcanswer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calcanswer</servlet-name>
    <url-pattern>/calcanswer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getquestions</display-name>
    <servlet-name>getquestions</servlet-name>
    <servlet-class>com.exam.servlet.getquestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getquestions</servlet-name>
    <url-pattern>/getquestions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackDao</display-name>
    <servlet-name>FeedbackDao</servlet-name>
    <servlet-class>com.student.dao.FeedbackDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackDao</servlet-name>
    <url-pattern>/FeedbackDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModuleDao</display-name>
    <servlet-name>ModuleDao</servlet-name>
    <servlet-class>com.student.dao.ModuleDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModuleDao</servlet-name>
    <url-pattern>/ModuleDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResultsDao</display-name>
    <servlet-name>ResultsDao</servlet-name>
    <servlet-class>com.student.dao.ResultsDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultsDao</servlet-name>
    <url-pattern>/ResultsDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDao</display-name>
    <servlet-name>StudentDao</servlet-name>
    <servlet-class>com.student.dao.StudentDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDao</servlet-name>
    <url-pattern>/StudentDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Feedback</display-name>
    <servlet-name>Feedback</servlet-name>
    <servlet-class>com.student.model.Feedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Feedback</servlet-name>
    <url-pattern>/Feedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student</display-name>
    <servlet-name>Student</servlet-name>
    <servlet-class>com.student.model.Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Results</display-name>
    <servlet-name>Results</servlet-name>
    <servlet-class>com.student.model.Results</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Results</servlet-name>
    <url-pattern>/Results</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Module</display-name>
    <servlet-name>Module</servlet-name>
    <servlet-class>com.student.model.Module</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Module</servlet-name>
    <url-pattern>/Module</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStudentController</display-name>
    <servlet-name>EditStudentController</servlet-name>
    <servlet-class>com.student.controller.EditStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStudentController</servlet-name>
    <url-pattern>/EditStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteFBController</display-name>
    <servlet-name>deleteFBController</servlet-name>
    <servlet-class>com.student.controller.deleteFBController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteFBController</servlet-name>
    <url-pattern>/deleteFBController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>stdFeedbackController</display-name>
    <servlet-name>stdFeedbackController</servlet-name>
    <servlet-class>com.student.controller.stdFeedbackController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stdFeedbackController</servlet-name>
    <url-pattern>/stdFeedbackController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetStudentController</display-name>
    <servlet-name>GetStudentController</servlet-name>
    <servlet-class>com.student.controller.GetStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStudentController</servlet-name>
    <url-pattern>/GetStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetExam</display-name>
    <servlet-name>GetExam</servlet-name>
    <servlet-class>com.lecturer.servlet.GetExam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetExam</servlet-name>
    <url-pattern>/GetExam</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.lecturer.servlet.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>EditSubjectServlet</display-name>
    <servlet-name>EditSubjectServlet</servlet-name>
    <servlet-class>com.module.servlet.EditSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSubjectServlet</servlet-name>
    <url-pattern>/EditSubjectServlet</url-pattern>
  </servlet-mapping>
     <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>com.lecturer.servlet.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add</display-name>
    <servlet-name>Add</servlet-name>
    <servlet-class>com.lecturer.servlet.Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add</servlet-name>
    <url-pattern>/Add</url-pattern>
  </servlet-mapping>
</web-app>